main {
    display: flex;
    > section {
        width: 50%;
        a {
            color: blue;
            &:hover {
                color: red;
            }
            &::before {
                content: 'Algo';
            }
        }
    }
}
